:root {
    --primary-color: rgba(0, 128, 128, 1);
    --secondary-color: rgba(0, 128, 128, .4);
    --tertiary-color: white; 
}

header {
    display: flex;
    flex: row;
    justify-content: space-between;
    margin: 20px;
}
main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vw;
    justify-content: center;
    align-items: center;
    border: 3px solid green;
    
    
}
ig {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%, -50%);
    transform: translateY(-50%, -50%);
}
answers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
}